---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Academic Services -->
    <h1>Academic Services</h1>
    <ul class="academic-services">
      <li><strong>Journal Reviewer:</strong> AEI, Scientific Reports, CBM, AIC, T-Cyber, Unmanned Systems Journal</li>
      <li><strong>Conference Reviewer:</strong> ICCA, ICRA, IROS</li>
    </ul>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Publications -->
    <h2>publications</h2>
    <div class="publications">
      <h3 class="year">2024</h3>
      <ol class="bibliography">
        <li>
          <div class="row">
            <div class="col-sm-2 abbr">
              <abbr class="badge">CVPR</abbr>
            </div>
            <div id="groundhog" class="col-sm-8">
              <div class="title">GROUNDHOG: Grounding Large Language Models to Holistic Segmentation</div>
              <div class="author">Yichi Zhang, Ziqiao Ma, Xiaofeng Gao, Suhaila Shakiah, Qiaozi Gao, and Joyce Chai</div>
              <div class="periodical"><em>In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)</em>, Jun 2024.</div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button">Abstract</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Code</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Website</a>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <!-- Visitor Map -->
    <h2>visitors</h2>
    <div class="visitor-map" style="width: 200px; height: 200px; margin: 0 auto;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=1DzCfkA1F4yW7jaoyRuPPz6cSHEuqTGArcxwmwOrA1"></script>
    </div>

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
