---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>


    <!-- Publications -->
    <h3>Selected Publications</h3>
    <li>Equal Contribution †; Corresponding author *</li>
    <div class="publications">
      <h4 class="year">2025</h4>
      <ol class="bibliography">
        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">ICRA</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/icra2025.png" width="130" height="80">
            </div>

            <div class="col-sm-10">
              <div class="title">Lightweight yet High-Performance Defect Detector for UAV-Based Large-Scale Infrastructure Real-Time Inspection</div>
              <div class="author">
                B. Zhao, Q. Duan, G. Yang, H. J. Tang, Z. Song, J. Wen, X. Liu, Q. Li, L. Lei, J. Zhang, X. Chen, M. W. Mueller and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Robotics and Automation</em>, Atlanta, USA, 2025
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">
                  Defect diagnosis in urban infrastructure is crucial for public safety. Traditional manual inspections face significant challenges in terms of accuracy and cost-effectiveness. In this paper, we propose a lightweight and hardware-friendly large-scale infrastructure detector, CUPID, highly suitable for unmanned aerial vehicles (UAVs). Given the significant challenges in automatically detecting defects of varying intensity and size within complex infrastructure, along with the tendency of lightweight models to lose detail and fail to fully capture features during the defect extraction process, we propose the CUPID_Block, a multi-level information fusion block to construct the backbone, featuring the CUPID_Conv module equipped with our proposed CCA (CrissCross Attention). Furthermore, CUPID features an auxiliary training branch that assimilates lower feature maps, helping to recover details lost in deeper convolutional layers. To verify the effectiveness of CUPID and to address the lack of a suitable dataset in the community, we establish a multi-scenario infrastructure defect dataset, CUBIT2024, to conduct extensive experiments. Finally, to assess the efficiency and adaptability of CUPID in UAV for online infrastructure inspection, we design a compact autonomous drone, CU-Astro, where the proposed CUPID is deployed on the Jetson Orin NX computer onboard to evaluate the speed and power consumption of the inference.
                  </div>
                </div>
                <a href="" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="https://github.com/ZHAOBenyun/CUPID-defect-detector" class="btn btn-sm z-depth-0" role="button">Code</a>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="publications">
      <h4 class="year">2024</h4>
      <ol class="bibliography">
        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">IROS</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/iros2024.jpg" width="130" height="80">
            </div>
            <div class="col-sm-10">
              <div class="title">Det-Recon-Reg: An Intelligent Framework Towards Automated Large-Scale Infrastructure Inspection</div>
              <div class="author">
                G. Yang†, J. Zhang†, B. Zhao†, C. Gao, Y. Huang, J. Wen, Q. Li, H. J. Tang, X. Chen and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Intelligent Robots and Systems</em> <em style="color: red"> (Oral) </em>, Abu Dahbi, UAE, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">
                  Visual inspection plays a predominant role in inspecting infrastructure surface. However, the generalization of existing visual inspection systems to large-scale real-world scenes remains challenging. In this paper, we introduce Det-Recon-Reg, an intelligent framework separating the complex inspection procedure into three stages: Detect, Reconstruct, and Register. (1) For defect detection (Detect), we present the first high-resolution defect dataset tailored for large-scale defect detection. Based on the dataset, we evaluate the most effective real-time object detection algorithms and push the boundary by proposing CUBIT-Net for real-world defect inspection. (2) For infrastructure reconstruction (Reconstruct), we propose a learning-based multi-view stereo (MVS) network to adapt to large-scale scenes, taking as input the multi-view images and outputting the point cloud reconstruction, where its performance has been validated on the standard MVS datasets, including BlendedMVS, DTU, and Tanks and Temples datasets. (3) For defect localization (Register), we propose an effective registration method based on the geographic information system that registers the detected defects onto the reconstructed infrastructure model to establish a global reference for maintenance measures. The real-world experiments further verify the effectiveness and efficiency of our proposed framework.
                  </div>
                </div>
                <a href="https://ieeexplore.ieee.org/document/10802463" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="https://cuhk-usr-group.github.io/large-scale-inspect-framework/" class="btn btn-sm z-depth-0" role="button">Code</a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">IROS</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/icra2024.png" width="130" height="80">
            </div>

            <div class="col-sm-10">
              <div class="title">SANet: Small but Accurate Detector for Aerial Flying Object</div>
              <div class="author">
                X. Zhou, B. Zhao*, G. Yang, J. Zhang, L. Li and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Robotics and Automation</em> <em style="color: red"> (Oral) </em>, Yokohama, Japan, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">
                This paper proposes SANet, a small but accurate detector for aerial flying objects. The detector introduces an attention module into the feature extraction module (FEM) for enhancing the accuracy. This FEM with fewer convolutional kernel channels can reduce the parameters, speed up the inference time, and mitigate the computational burden. Furthermore, we optimize the Spatial Pyramid Pooling (SPP) module to enhance both the accuracy and speed. By analyzing the structure characteristic of the ResNet and RepVGG network that are usually utilized to extract features, a feature fusion module named RepNeck is designed to comprehensively fuse features extracted by the FEM, further enhancing the speed and accuracy. Eventually, we develop a neural network with an impressively small model size of only 4.5M. This network can achieve the state-of-the-art performance on three challenging datasets. Apart from its superior performance, our approach enjoys a real-time detection speed of 14.8 frames per second (fps) and power consumption of only 2.9W while the CPU and GPU temperatures are maintained below 50◦C even on an edge-computing device, highlighting the practicality of our approach for long-duration flying object detection and monitoring tasks.
                  </div>
                </div>
                <a href="https://ieeexplore.ieee.org/document/10611606" class="btn btn-sm z-depth-0" role="button">PDF</a>                
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">AIC</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/zhao2024infrastructure.png" width="130" height="90">
            </div>

            <div class="col-sm-10">
              <div class="title">High-resolution infrastructure defect detection dataset sourced by unmanned systems and validated with deep learning approaches</div>
              <div class="author">
                B. Zhao, X. Zhou, G. Yang, J. Wen, J. Zhang, J. Dou, G. Li, X. Chen and B. M. Chen
              </div>
              <div class="periodical">
                <em>Automation in Construction</em>, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">
                    Visual inspection of civil infrastructures has traditionally been a crucial yet labor-intensive task. In contrast, unmanned robots equipped with deep learning-based visual defect detection methods offer a more comprehensive and efficient solution compared to conventional manual inspection techniques. However, the full potential of deep learning in defect detection has yet to be fully realized, primarily due to the scarcity of annotated, high-quality defect datasets. In this study, we introduce CUBIT-Det, a high-resolution defect detection dataset that includes over 5500 images captured under various scenarios using professional-grade equipment. Distinguishing itself from existing datasets, CUBIT-Det encompasses a wide array of practical situations, backgrounds, and defect categories. We perform extensive benchmarking experiments on the dataset with nearly 30 cutting-edge real-time detection methods, and analyze both the impact of the dataset's annotation methods and zero-shot transfer ability of it. This effort lays a robust foundation for future advancements in defect detection solutions. Additionally, the practicality and effectiveness of CUBIT-Det are confirmed through thorough inspections of real-world buildings. Finally, we detail the features and acknowledge the limitations of our dataset, thereby highlighting significant opportunities for future research.
                  </div>
                </div>
                <a href="https://www.sciencedirect.com/science/article/abs/pii/S0926580524001419?via%3Dihub" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="https://github.com/ZHAOBenyun/CUBIT" class="btn btn-sm z-depth-0" role="button">Code</a>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <!-- Academic Services -->
    <h3>Academic Services</h3>
    <ul class="academic-services">
      <li><strong>Journal Reviewer:</strong> AEI, CBM, AIC, T-Cyber, Scientific Reports, Unmanned Systems Journal</li>
      <li><strong>Conference Reviewer:</strong> ICCA2023 2024, ICRA2024 2025, IROS2024</li>
    </ul>


    <!-- Visitor Map -->
    <div class="visitor-map" style="width: 200px; height: 200px; margin: 0 auto;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=1DzCfkA1F4yW7jaoyRuPPz6cSHEuqTGArcxwmwOrA1"></script>
    </div>

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
