---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    
    <!-- Publications -->
    <h3>Selected Publications</h3>
    <li>Equal Contribution †; Corresponding author *</li>
    <div class="publications">
      <h4 class="year">2025</h4>
      <ol class="bibliography">
        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">ICRA</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/icra2025.png" width="130" height="80">
            </div>

            <div class="col-sm-10">
              <div class="title">Lightweight yet High-Performance Defect Detector for UAV-Based Large-Scale Infrastructure Real-Time Inspection</div>
              <div class="author">
                B. Zhao, Q. Duan, G. Yang, H. J. Tang, Z. Song, J. Wen, X. Liu, Q. Li, L. Lei, J. Zhang, X. Chen, M. W. Mueller and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Robotics and Automation</em>, Atlanta, USA, 2025
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">
                    <p>
                      <strong>Abstract:</strong>
                      <br>
                      <br>
                    </p>
                  </div>
                </div>
                <a href="https://www.sciencedirect.com/science/article/abs/pii/S0926580524001419?via%3Dihub" class="btn btn-sm z-depth-0" target="_blank"  role="button">PDF</a>
                <a href="https://github.com/ZHAOBenyun/CUBIT" class="btn btn-sm z-depth-0" role="button">Code</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Dataset</a>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="publications">
      <h4 class="year">2024</h4>
      <ol class="bibliography">
        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">IROS</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/iros2024.jpg" width="130" height="80">
            </div>

            <div class="col-sm-10">
              <div class="title">Det-Recon-Reg: An Intelligent Framework Towards Automated Large-Scale Infrastructure Inspection</div>
              <div class="author">
                G. Yang†, J. Zhang†, B. Zhao†, C. Gao, Y. Huang, J. Wen, Q. Li, H. J. Tang, X. Chen and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Intelligent Robots and Systems</em>, Abu Dahbi, UAE, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">

                  </div>
                </div>
                <a href="#" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Code</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Dataset</a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">IROS</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/icra2024.png" width="130" height="80">
            </div>

            <div class="col-sm-10">
              <div class="title">SANet: Small but Accurate Detector for Aerial Flying Object</div>
              <div class="author">
                X. Zhou, B. Zhao*, G. Yang, J. Zhang, L. Li and B. M. Chen
              </div>
              <div class="periodical">
                <em>International Conference on Robotics and Automation</em>, Yokohama, Japan, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">

                  </div>
                </div>
                <a href="#" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Code</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Dataset</a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="row">
            <div class="col-sm-2">
              <div class="badge">AIC</div>
              <img class="preview z-depth-1 rounded" src="assets/img/publication_preview/zhao2024infrastructure.png" width="130" height="90">
            </div>

            <div class="col-sm-10">
              <div class="title">High-resolution infrastructure defect detection dataset sourced by unmanned systems and validated with deep learning approaches</div>
              <div class="author">
                B. Zhao, X. Zhou, G. Yang, J. Wen, J. Zhang, J. Dou, G. Li, X. Chen and B. M. Chen
              </div>
              <div class="periodical">
                <em>Automation in Construction</em>, 2024
              </div>
              <div class="links">
                <a class="abstract btn btn-sm z-depth-0" role="button" data-toggle="collapse" data-target="#abstract-zhao2024infrastructure">Abstract</a>
                <div id="abstract-zhao2024infrastructure" class="collapse">
                  <div class="abstract-text">

                  </div>
                </div>
                <a href="#" class="btn btn-sm z-depth-0" role="button">PDF</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Code</a>
                <a href="#" class="btn btn-sm z-depth-0" role="button">Dataset</a>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <!-- Academic Services -->
    <h3>Academic Services</h3>
    <ul class="academic-services">
      <li><strong>Journal Reviewer:</strong> AEI, CBM, AIC, T-Cyber, Scientific Reports, Unmanned Systems Journal</li>
      <li><strong>Conference Reviewer:</strong> ICCA2023 2024, ICRA2024 2025, IROS2024</li>
    </ul>

    
    <!-- Visitor Map -->
    <div class="visitor-map" style="width: 200px; height: 200px; margin: 0 auto;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=1DzCfkA1F4yW7jaoyRuPPz6cSHEuqTGArcxwmwOrA1"></script>
    </div>

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
